@using ASPprojekt.Areas.Identity.Data
@using System;
@using Microsoft.AspNetCore.Identity
@model ASPprojekt.Areas.Identity.Data.ASPprojektUser
@inject ASPprojekt.Areas.Identity.Data.ASPDbContext _context
@inject UserManager<ASPprojektUser> UserManager


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesel" class="control-label"></label>
                <input asp-for="Pesel" class="form-control" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.Town" class="control-label"></label><br>
                <input asp-for="Location.Town" class="form-control" />
                <span asp-validation-for="Location.Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.Street" class="control-label"></label><br>
                <input asp-for="Location.Street" class="form-control" />
                <span asp-validation-for="Location.Street" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Position.PositionId" class="control-label"></label><br>
                <select asp-for="Position.PositionId" class="form-control">
                    @{
                        var positions = _context.Positions.ToList();
                        foreach (var item in positions)
                        {
                            <option value="@item.PositionId">@item.PositionName</option>
                        }
                    }
                </select>
                <span asp-validation-for="Position.PositionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusType>()">
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Users">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
